<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="WIPCreamEntities" connectionString="metadata=res://*/Models.WIPCreamModels.csdl|res://*/Models.WIPCreamModels.ssdl|res://*/Models.WIPCreamModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ROCLUG1102NB\SQLEXPRESS;initial catalog=WIPCream;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WIPCreamEntities1" connectionString="metadata=res://*/Models.WIPCreamModels.csdl|res://*/Models.WIPCreamModels.ssdl|res://*/Models.WIPCreamModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ROCLUG1102NB\SQLEXPRESS;initial catalog=WIPCream;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WIPCreamEntities2" connectionString="metadata=res://*/Models.WIPCreamModels.csdl|res://*/Models.WIPCreamModels.ssdl|res://*/Models.WIPCreamModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MEINPC\SQLEXPRESS;initial catalog=WIPCream;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>